


<div class="tile tile-login">
  <div id="login-text">
     <div id="login-text-1">Welcome to Wish It<br>
     helping to make anyones <br>
     wishes come true...</div><br><br>
  </div>
   <form class="login-form" action='/login' method="post">
    <div class="input-icon">
      <span class="ss-user"></span>
      <input type="text" class="form-control" name="email" placeholder="wish@herokuwebapps.com">
    </div>

    <div class="input-icon">
      <span class="ss-lock"></span>
        <input type="password" class="form-control" name="password" placeholder="password">
    </div>
    <input class="btn btn-block btn-primary btn-embossed" type="submit" value="Log in">
  </form>

  <div class="login-action clearfix">
    <div class="col-md-8">
      <label class="checkbox">
        <input type="checkbox" value="" data-toggle="checkbox" />Remember Me
      </label>
    </div>
    <div class="col-md-4">
      <a href="#">Forget?</a>
    </div>
  </div>
</div>
