<form class="main_friends_search" action='/search' method="get" align="center">

  
  Email: <input type="text" class="form-control" placeholder="Web designer, etc.">
  -or-<br><br>
  Username: <input type="text" class="form-control" placeholder="Web designer, etc.">
</form>