
 

<h1 align="center">
  <% if @error == nil %>
    <h1 class="donate_page" align="center"> Sorry, More info is soon to come. <br> However this page is under construction at the moment </h1>
  <% else %>
  <%= @error %>
 <% end %>
</h1>
