
 

<h1 align="center">
  <% if @error == nil %>
    <h1 class="donate_page" align="center"> Sorry, something went wrong. <br> If this problem persists please email keenansturtevant@gmail.com and describe the issue. <br>  Thank You! </h1>
  <% else %>
  <%= @error %>
 <% end %>
</h1>
