
<div class="btn-group btn-group-dropdown">
   <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Friends
   </button>

   <ul class="dropdown-menu" role="menu">
      <div class="arrow top"></div>
      <li><a href="/friends">View Friends </a></li>
      <li><a href="/searchFriends" >Add Friends </a></li>
      <li><a href="#">Invite Friends </a></li>
   </ul>
</div>



   