<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <!-- Loading Bootstrap -->
  <link href="/css/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Loading Drunken Parrot UI -->
  <link href="/css/css/drunken-parrot.css" rel="stylesheet">
  <!-- Loading Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <!-- Loading Bootstrap Javasvript -->
  <script src="css/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>
</head>


<body>


<% if session_current_user %>
  <div class="logged_in_indicator">
    <p id="indicator"> logged in </p>
      <a class="logout_button" href="/logout">Logout</a>
  </div>

<%= yield %>


<div class="bottom_nav_center">
  <div class="things">
    <a href="/help"> Help Page </a>
    <a href="/donate"> Donate Page </a>
    <a href="/contact_info"> Contact Info</a>
  </div>
</div>


  <% else %>
  <%= erb :"partials/_loginpage"%>
<%end%>
</body>










