<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>

    <title> Wish It </title>

  <h1 class="top_title_right">
    <a href="/" id="wish_list_logo"> Wish It
    </a>
  </h1>

  <div class="top_nav_left">
    <% if session_current_user %>
    <a href="/profile" id="profile_page_button"><h2 class="profile_page"> Profile Page</h2></a>
    <% end %>
  </div>

<%= erb :"partials/_layout3" %>

</head>


<body>


<div class="logged_in_indicator">
  <% if session_current_user %>
  <p id="indicator"> logged in </p>
    <a class="logout_button" href="/logout">Logout</a>
  <% end %>
</div>


  <%= yield %>

  <% if session_current_user %>
    <div class="bottom_nav_center">
      <div class="things">
        <a href="/help"> Help Page </a>
        <a href="/donate"> Donate Page </a>
        <a href="/contact_info"> Contact Info</a>
      </div>
    </div>
  <% else %>

  <%end%>
</body>










